/* CSS reset */
* {
    margin: 0;
    box-sizing: borderbox;
}

/* Generics */
header {
    background-color:lightblue;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    background-color: goldenrod;
    width: 70%;
    justify-content: space-between;
    border: 3px dashed black;
    flex-wrap: wrap;
}

ul {
    flex-wrap: wrap;
}

li {
    list-style: none;
}

a {
    padding: 15px;
    color: black;
    text-decoration: none;
}

/* utilities */
.flex {
    display: flex;
}

/* header */
.center-navbar {
    align-items: center;
    border-left: 3px dashed black;
    border-right: 3px dashed black;
    flex-wrap: wrap;
}

.h-blue {
    min-height: 500px;
    background-color: darkblue;
}

.d-pink {
    min-height: 350px;
    width: 50%;
    background-color: pink;
    border: 3px dashed black;
}

/* main */
.bg-white {
    min-height: 500px;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.bg-lightblue {
    min-height: 400px;
    background-color:cornflowerblue;
    flex-basis: 40%;
    border: 2px dashed black;
}

.bg-lightpink {
    min-height: 400px;
    background-color: lightpink;
    flex-basis: 30%;
    border: 2px dashed black;
}

.bg-grey {
    min-height: 500px;
    background-color:lightgray;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.bg-green {
    min-height: 400px;
    flex-basis: 70%;
    background-color: green;
    border: 2px dashed black;
}